.form-wrapper {

  display: flex;
  flex-direction: column;

  .flex-left2, .flex-right2 {

    div {
      margin-bottom: 20px;
    }
  }

  .trip-details {
    .meals-input-div-after {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;

      @media only screen and (max-width: 980px) {
        flex-direction: column;
        align-items: center;

        label {
          text-align: center;
        }
      }
    }

    .country-place {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }

  .submission-date-wrapper {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 25px;
    background-color: #00DA91;
    box-shadow: 0 4px 12px rgba(38, 38, 38, 0.25);
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-shadow: 0.2px 0.2px #2d2d2d;
  }

  .expense-list {

    justify-content: center;
    margin-bottom: 25px;
    background-color: #00DA91;
    box-shadow: 0 4px 12px rgba(38, 38, 38, 0.25);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    flex-direction: column;
    text-shadow: 0.2px 0.2px #2d2d2d;

    .header-icon {
      display: block;
      margin: 0 auto;
    }

    .expense-list-form {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;

      .expense-numeration {
        display: none;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        @media only screen and (max-width: 1280px) {
          flex-direction: column;
          background-color: #00a870;
          border-radius: 15px;
          padding: 15px;
          gap: 2px;

          .expense-numeration {
            display: block;
          }
        }

        @media only screen and (max-width: 780px) {
          select {
            width: 52%;
          }
        }

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .new-expense-btn {
      margin-top: 50px;
      padding: 10px 30px;
      border-radius: 50px;
      border: none;
      color: #00DA91;
      background-color: #fafafa;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
          background-color: white;
      }
    }
  }

  .form-after-button-wrapper {
    .save-tef-btn {
      padding: 10px 30px;
      border-radius: 50px;
      border: none;
      color: white;
      background-color: #00DA91;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }



}