$tinymobile: "only screen and (max-width : 320px)";
$smallmobile: "only screen and (max-width : 360px)";
$smalltablet: "only screen and (max-width : 600px)";
$tablet: "only screen and (max-width : 768px)";
$ipadair: "only screen and (max-width : 820px)";
$ipadpro: "only screen and (max-width : 1024px)";
$verysmalldesktop: "only screen and (max-width : 1250px)";
$smalldesktop: "only screen and (max-width : 1440px)";